@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div><img src="https://www.mordeo.org/files/uploads/2019/04/Corgi-Puppy-Pet-Dog-4K-Ultra-HD-Mobile-Wallpaper.jpg" alt="Puppy" width="500" height="600">
